In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#data = pd.read_excel('blouse1.xlsx')
data = pd.read_csv("score_result.csv")

In [3]:
data=data.dropna()
data

      Unnamed: 0                                                 리뷰  평점
0              0  이게 평점 말이되나... 진짜 그냥 편지 갖다주는 아무내용 없는 영화인데... 나만...   2
2              2      요즘 처럼 수익만 쫓아 공장에서 막 찍어내는 영화 속에서 홀로 빛나는 ‘영화’다.  10
3              3                                  영화관에서 안 본 게 후회스러움  10
4              4                                       아무내용 없음 핵노잼임   1
5              5               전쟁 영화는 너무 많다. 하지만 이 영화는 그런 영화가 아니었다.  10
...          ...                                                ...  ..
4575        4575  솔직하게 기생충보다 위대한 작품 기생충의 4관왕은 너무 뿌듯하고 축하하지만 순수하게...  10
4576        4576  현장에 들어와 있는 기분이 들고 롱테이크로 몰입감 긴장감이 넘쳤다. 내 기준으로는 ...   9
4577        4577                              촬영감독의 영혼까지 갈아넣은 마스터피스  10
4578        4578  너무 많은 기대를 했던것일까. 소문난 잔치집에 먹을게 없었다. 독특한 촬영기법만으로...   6
4579        4579  솔직히 연출력만으로 최고의 영화다. 마치 우리가 투명인간이 되서 그들을 지켜보는 듯...  10

[4174 rows x 3 columns]

In [16]:
reference = data
reference

      Unnamed: 0                                                 리뷰  평점
0              0  이게 평점 말이되나... 진짜 그냥 편지 갖다주는 아무내용 없는 영화인데... 나만...   2
2              2      요즘 처럼 수익만 쫓아 공장에서 막 찍어내는 영화 속에서 홀로 빛나는 ‘영화’다.  10
3              3                                  영화관에서 안 본 게 후회스러움  10
4              4                                       아무내용 없음 핵노잼임   1
5              5               전쟁 영화는 너무 많다. 하지만 이 영화는 그런 영화가 아니었다.  10
...          ...                                                ...  ..
4575        4575  솔직하게 기생충보다 위대한 작품 기생충의 4관왕은 너무 뿌듯하고 축하하지만 순수하게...  10
4576        4576  현장에 들어와 있는 기분이 들고 롱테이크로 몰입감 긴장감이 넘쳤다. 내 기준으로는 ...   9
4577        4577                              촬영감독의 영혼까지 갈아넣은 마스터피스  10
4578        4578  너무 많은 기대를 했던것일까. 소문난 잔치집에 먹을게 없었다. 독특한 촬영기법만으로...   6
4579        4579  솔직히 연출력만으로 최고의 영화다. 마치 우리가 투명인간이 되서 그들을 지켜보는 듯...  10

[4174 rows x 3 columns]

In [ ]:
"""
reference_all = data[['title','contents','style_1','style_2','style_3','style_4']].values.tolist()
reference_s1 = data[['title','contents','style_1']].values.tolist()
reference_s2 = data[['title','contents','style_2']].values.tolist()
reference_s3 = data[['title','contents','style_3']].values.tolist()
reference_s4 = data[['title','contents','style_4']].values.tolist()


tc=data[['title','contents']]
tc=tc.values.tolist()
tc"""

In [4]:
import sister

In [5]:
sentence_embedding = sister.MeanEmbedding(lang="file",fasttextfile="cc.ko.100.bin")

--->
{'en': 'https://dl.fbaipublicfiles.com/fasttext/vectors-wiki/wiki.simple.zip', 'ja': 'https://dl.fbaipublicfiles.com/fasttext/vectors-wiki/wiki.ja.zip', 'file': 'file1'}
--------- load_model from files :  cc.ko.100.bin

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [6]:
"""
def merge_ti_con(result_list):
    vector1_list = []
    vector2_list = []
    
    for i in range(len(result_list)): 
    
        s1 = sentence_embedding(result_list[i][0])
        s2 = sentence_embedding(result_list[i][1])
        vector1_list.append(s1)
        vector2_list.append(s2)
        
        
    vector1_df= pd.DataFrame(vector1_list) #DataFrame으로
    vector2_df = pd.DataFrame(vector2_list) 
    
    return pd.concat([vector1_df,vector2_df],axis= 1) #merge
    """

'\ndef merge_ti_con(result_list):\n    vector1_list = []\n    vector2_list = []\n    \n    for i in range(len(result_list)): \n    \n        s1 = sentence_embedding(result_list[i][0])\n        s2 = sentence_embedding(result_list[i][1])\n        vector1_list.append(s1)\n        vector2_list.append(s2)\n        \n        \n    vector1_df= pd.DataFrame(vector1_list) #DataFrame으로\n    vector2_df = pd.DataFrame(vector2_list) \n    \n    return pd.concat([vector1_df,vector2_df],axis= 1) #merge\n    '

In [ ]:
"""
def review_embedding(df):
    nor_score=normalize(df)
    df_rev = df['리뷰']
    r_list=df_rev.values.tolist()
    vector1_list = []

    for i in range(len(r_list)): 
    
        s1 = sentence_embedding(r_list[i])
        vector1_list.append(s1)
        
        
    vector_df= pd.DataFrame(vector1_list) #DataFrame으로
    return pd.concat([vector_df,df_sco],axis= 1) #merge
    """

In [7]:
data

      Unnamed: 0                                                 리뷰  평점
0              0  이게 평점 말이되나... 진짜 그냥 편지 갖다주는 아무내용 없는 영화인데... 나만...   2
2              2      요즘 처럼 수익만 쫓아 공장에서 막 찍어내는 영화 속에서 홀로 빛나는 ‘영화’다.  10
3              3                                  영화관에서 안 본 게 후회스러움  10
4              4                                       아무내용 없음 핵노잼임   1
5              5               전쟁 영화는 너무 많다. 하지만 이 영화는 그런 영화가 아니었다.  10
...          ...                                                ...  ..
4575        4575  솔직하게 기생충보다 위대한 작품 기생충의 4관왕은 너무 뿌듯하고 축하하지만 순수하게...  10
4576        4576  현장에 들어와 있는 기분이 들고 롱테이크로 몰입감 긴장감이 넘쳤다. 내 기준으로는 ...   9
4577        4577                              촬영감독의 영혼까지 갈아넣은 마스터피스  10
4578        4578  너무 많은 기대를 했던것일까. 소문난 잔치집에 먹을게 없었다. 독특한 촬영기법만으로...   6
4579        4579  솔직히 연출력만으로 최고의 영화다. 마치 우리가 투명인간이 되서 그들을 지켜보는 듯...  10

[4174 rows x 3 columns]

In [8]:
def review_embedding(df):
    df_rev = df['리뷰']
    r_list=df_rev.values.tolist()
    vector1_list = []

    for i in range(len(r_list)): 
    
        s1 = sentence_embedding(r_list[i])
        vector1_list.append(s1)
        
        
    vector_df= pd.DataFrame(vector1_list) #DataFrame으로
    return vector_df #merge

In [9]:
res_df=review_embedding(data)
res_df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-0.216225,-0.434222,0.184838,0.094683,-0.071100,0.110860,-0.020122,0.124334,-0.192785,-0.080355,...,-0.002322,0.032167,0.040919,-0.017266,-0.009086,0.012370,0.019108,0.006906,0.024261,-1.888909e-02
1,-0.099100,-0.441249,0.013700,0.073858,-0.099797,0.015609,0.109933,0.030135,0.078317,-0.060453,...,0.005601,-0.033244,0.008355,0.013445,-0.004370,0.014002,0.014577,-0.063060,0.023178,3.303564e-02
2,-0.060467,-0.449556,0.020689,0.012336,-0.104599,0.017453,0.052614,0.135882,-0.081071,0.051206,...,-0.026260,0.005801,0.063237,-0.038467,-0.006706,0.038851,0.059015,0.049413,0.005041,-3.126646e-02
3,-0.143063,-0.353610,0.138748,-0.072420,0.033712,-0.007052,-0.054680,0.079392,-0.189293,0.003290,...,0.000792,-0.012899,0.046397,0.041570,0.064058,0.053264,-0.079590,0.036522,-0.031262,2.385557e-02
4,-0.066336,-0.402996,-0.031456,0.119408,0.020057,0.140981,0.008059,0.065248,-0.183301,-0.043058,...,0.010648,-0.021000,0.011877,0.024884,0.025074,-0.009119,0.044310,0.007265,0.052699,2.378701e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4169,-0.002700,-0.333255,-0.024951,-0.012317,-0.121600,0.063221,0.034465,0.040346,-0.026012,-0.059297,...,0.015486,0.022436,-0.025364,0.015348,0.011676,-0.001595,-0.006583,0.001280,0.008283,5.666231e-02
4170,0.004574,-0.336279,0.047474,0.032508,-0.098674,-0.027613,0.057299,0.069918,-0.042222,-0.009095,...,-0.052099,0.001019,0.014972,0.018685,0.012873,-0.041004,-0.019596,0.016491,0.042812,2.862969e-02
4171,-0.046628,-0.049401,0.037605,0.003017,-0.101339,0.051194,0.100310,0.045217,0.040765,0.084925,...,0.037565,-0.001193,-0.002286,0.021051,-0.003683,-0.003925,-0.036339,0.020033,0.014967,4.826627e-03
4172,-0.013860,-0.239205,0.034623,0.023188,-0.099596,0.047580,0.032729,0.036536,-0.069520,-0.022859,...,-0.018632,-0.004143,-0.002503,0.010083,0.019000,0.025277,0.015878,0.003586,0.016953,-6.758741e-07
4173,-0.061310,-0.289203,0.026417,0.034980,-0.039428,0.055280,0.035728,0.066067,-0.023649,-0.002170,...,-0.015752,-0.015980,-0.013450,-0.008637,-0.016599,-0.016157,0.010873,0.000662,0.008899,1.157611e-02

In [10]:
sc=data[['평점']].values.tolist()
sco_df=pd.DataFrame(sc)
sco_df.columns = ['평점']
sco_df

      평점
0      2
1     10
2     10
3      1
4     10
...   ..
4169  10
4170   9
4171  10
4172   6
4173  10

[4174 rows x 1 columns]

In [11]:
result=pd.concat([res_df,sco_df],axis= 1)
result

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,평점
0,-0.216225,-0.434222,0.184838,0.094683,-0.071100,0.110860,-0.020122,0.124334,-0.192785,-0.080355,...,0.032167,0.040919,-0.017266,-0.009086,0.012370,0.019108,0.006906,0.024261,-1.888909e-02,2
1,-0.099100,-0.441249,0.013700,0.073858,-0.099797,0.015609,0.109933,0.030135,0.078317,-0.060453,...,-0.033244,0.008355,0.013445,-0.004370,0.014002,0.014577,-0.063060,0.023178,3.303564e-02,10
2,-0.060467,-0.449556,0.020689,0.012336,-0.104599,0.017453,0.052614,0.135882,-0.081071,0.051206,...,0.005801,0.063237,-0.038467,-0.006706,0.038851,0.059015,0.049413,0.005041,-3.126646e-02,10
3,-0.143063,-0.353610,0.138748,-0.072420,0.033712,-0.007052,-0.054680,0.079392,-0.189293,0.003290,...,-0.012899,0.046397,0.041570,0.064058,0.053264,-0.079590,0.036522,-0.031262,2.385557e-02,1
4,-0.066336,-0.402996,-0.031456,0.119408,0.020057,0.140981,0.008059,0.065248,-0.183301,-0.043058,...,-0.021000,0.011877,0.024884,0.025074,-0.009119,0.044310,0.007265,0.052699,2.378701e-03,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4169,-0.002700,-0.333255,-0.024951,-0.012317,-0.121600,0.063221,0.034465,0.040346,-0.026012,-0.059297,...,0.022436,-0.025364,0.015348,0.011676,-0.001595,-0.006583,0.001280,0.008283,5.666231e-02,10
4170,0.004574,-0.336279,0.047474,0.032508,-0.098674,-0.027613,0.057299,0.069918,-0.042222,-0.009095,...,0.001019,0.014972,0.018685,0.012873,-0.041004,-0.019596,0.016491,0.042812,2.862969e-02,9
4171,-0.046628,-0.049401,0.037605,0.003017,-0.101339,0.051194,0.100310,0.045217,0.040765,0.084925,...,-0.001193,-0.002286,0.021051,-0.003683,-0.003925,-0.036339,0.020033,0.014967,4.826627e-03,10
4172,-0.013860,-0.239205,0.034623,0.023188,-0.099596,0.047580,0.032729,0.036536,-0.069520,-0.022859,...,-0.004143,-0.002503,0.010083,0.019000,0.025277,0.015878,0.003586,0.016953,-6.758741e-07,6
4173,-0.061310,-0.289203,0.026417,0.034980,-0.039428,0.055280,0.035728,0.066067,-0.023649,-0.002170,...,-0.015980,-0.013450,-0.008637,-0.016599,-0.016157,0.010873,0.000662,0.008899,1.157611e-02,10

In [13]:
##벡터값 정규화
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
fitted = min_max_scaler.fit(result)
print(fitted.data_max_)
## 출력 결과
## [891.       1.       3.      80.       8.       6.     512.3292]
output = min_max_scaler.transform(result)
output = pd.DataFrame(output, columns=result.columns, index=list(result.index.values))
output.head()

[ 0.19283164  0.05622385  0.39025986  0.37203988  0.23402929  0.38279182
  0.43838459  0.4613224   0.52074522  0.72498018  0.22130172  0.21031669
  0.25367561  0.20135053  0.21454531  0.27527404  0.21335003  0.15581313
  0.46431756  0.41206071  0.20272523  0.21960784  0.33184224  0.33681807
  0.13956609  0.30766621  0.19377612  0.29703686  0.34232318  0.24203041
  0.21660356  0.26296669  0.24043749  0.65046531  0.2777319   0.14962038
  0.2851657   0.25057256  0.09326989  0.40948918  0.32756767  0.16301833
  0.24260299  0.27507055  0.17921793  0.13400397  0.27908689  0.30989209
  0.07099711  1.21506119  0.15886725  0.28319576  0.16485612  0.21882486
  0.26680073  0.38073108  0.34093565  0.26913977  0.15880363  0.36208564
  0.21569982  0.55004108  0.26268783  0.15013143  0.21037954  0.19820032
  0.2028698   0.16808054  0.1923276   0.23138741  0.30365738  0.30602372
  0.25725168  0.16920409  0.36689216  0.22371113  0.3098354   0.18096475
  0.13858552  0.1568362   0.15553126  0.19495496  0.13457496  0.16245018
  0.30008253  0.08973692  0.2288522   0.17886418  0.12393932  0.24418698
  0.19713865  0.19042277  0.15668643  0.31146991  0.11500426  0.13653663
  0.25778377  0.26106471  0.48578736  0.1902891  10.        ]

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,평점
0,0.713039,0.466580,0.658579,0.581902,0.608896,0.525397,0.380469,0.464571,0.168389,0.192693,...,0.563180,0.773377,0.301809,0.573875,0.596300,0.543294,0.475270,0.194541,0.561005,0.111111
1,0.795205,0.458938,0.374140,0.550508,0.572113,0.359156,0.556198,0.314901,0.484355,0.212643,...,0.382634,0.709629,0.367036,0.590068,0.601604,0.534624,0.330818,0.192651,0.669978,1.000000
2,0.822306,0.449902,0.385756,0.457768,0.565959,0.362375,0.478749,0.482919,0.298590,0.324576,...,0.490406,0.817065,0.256781,0.582046,0.682395,0.619655,0.563028,0.160998,0.535029,1.000000
3,0.764364,0.554255,0.581975,0.330003,0.743241,0.319605,0.333774,0.393165,0.172459,0.276543,...,0.438788,0.784099,0.426769,0.825052,0.729257,0.354435,0.536414,0.097643,0.650712,0.000000
4,0.818189,0.500542,0.299088,0.619173,0.725738,0.577968,0.418546,0.370691,0.179442,0.230081,...,0.416429,0.716525,0.391331,0.691179,0.526432,0.591517,0.476010,0.244172,0.605639,1.000000

In [14]:
output

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,평점
0,0.713039,0.466580,0.658579,0.581902,0.608896,0.525397,0.380469,0.464571,0.168389,0.192693,...,0.563180,0.773377,0.301809,0.573875,0.596300,0.543294,0.475270,0.194541,0.561005,0.111111
1,0.795205,0.458938,0.374140,0.550508,0.572113,0.359156,0.556198,0.314901,0.484355,0.212643,...,0.382634,0.709629,0.367036,0.590068,0.601604,0.534624,0.330818,0.192651,0.669978,1.000000
2,0.822306,0.449902,0.385756,0.457768,0.565959,0.362375,0.478749,0.482919,0.298590,0.324576,...,0.490406,0.817065,0.256781,0.582046,0.682395,0.619655,0.563028,0.160998,0.535029,1.000000
3,0.764364,0.554255,0.581975,0.330003,0.743241,0.319605,0.333774,0.393165,0.172459,0.276543,...,0.438788,0.784099,0.426769,0.825052,0.729257,0.354435,0.536414,0.097643,0.650712,0.000000
4,0.818189,0.500542,0.299088,0.619173,0.725738,0.577968,0.418546,0.370691,0.179442,0.230081,...,0.416429,0.716525,0.391331,0.691179,0.526432,0.591517,0.476010,0.244172,0.605639,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4169,0.862831,0.576394,0.309899,0.420605,0.544167,0.442254,0.454226,0.331125,0.362761,0.213802,...,0.536320,0.643622,0.371077,0.645171,0.550893,0.494134,0.463653,0.166656,0.719562,1.000000
4170,0.867934,0.573105,0.430274,0.488177,0.573552,0.283720,0.485079,0.378111,0.343868,0.264127,...,0.477206,0.722583,0.378165,0.649281,0.422763,0.469233,0.495058,0.226916,0.660731,0.888889
4171,0.832015,0.885121,0.413871,0.443720,0.570137,0.421263,0.543195,0.338865,0.440589,0.358377,...,0.471099,0.688799,0.383189,0.592430,0.543320,0.437196,0.502370,0.178321,0.610776,1.000000
4172,0.855002,0.678685,0.408914,0.474126,0.572372,0.414955,0.451880,0.325072,0.312053,0.250329,...,0.462958,0.688375,0.359895,0.670323,0.638263,0.537113,0.468414,0.181787,0.600646,0.555556
4173,0.821715,0.624306,0.395276,0.491903,0.649492,0.428394,0.455933,0.371992,0.365515,0.271069,...,0.430285,0.666946,0.320137,0.548075,0.503548,0.527536,0.462377,0.167731,0.624941,1.000000

In [ ]:
import scipy
from scipy import io

In [15]:
output.to_csv('movie_review_100_4174.csv',index=None)